@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@source "../../../packages/core/src";

@theme {
    --color-dark-50: #c9c9c9;
    --color-dark-100: #b8b8b8;
    --color-dark-200: #828282;
    --color-dark-300: #696969;
    --color-dark-400: #424242;
    --color-dark-500: #3b3b3b;
    --color-dark-600: #2e2e2e;
    --color-dark-700: #242424;
    --color-dark-800: #1f1f1f;
    --color-dark-900: #141414;
}

/*

@theme {
    --color-dark-50: #2a5454;
    --color-dark-100: #224545;
    --color-dark-200: #1c3939;
    --color-dark-300: #183030;
    --color-dark-400: #142828;
    --color-dark-500: #112222;
    --color-dark-600: #0f1e1e;
    --color-dark-700: #0c1919;
    --color-dark-800: #091313;
    --color-dark-900: #070f0f;
}


*/

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    height: 100%;
}

#root {
    height: 100%;
}
